.navbar{
    height: 50px;
    background-color: #003580;
    display: flex;
    justify-content: center;
}
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500;
}
.navButton{
    margin-left: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    background-color: #003580;
    border-radius: 10px;
}
.navButton:hover{
    background-color: white;
    color: #003580
}